<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>
</head>

<body>
    <div>
        <p>Redirecting to google...</p>
    </div>
</body>
<script>
    (
        async () => {
            try {
                const res = await fetch("<%= betterAuthUrl %>/api/auth/sign-in/social", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: "include",
                    body: JSON.stringify({
                        provider: "google",
                        callbackURL: "<%= callbackURL %>",
                    }),
                });

                const data = await res.json();
                console.log(data);

                if (data.url) {
                    window.location.href = data.url;
                } else {
                    document.body.innerHTML = `
                    <div>
                        <h1>Google Login Failed</h1>
                        <p>Something went wrong. Please try again.</p>
                        <p>Error: ${data.error}</p>
                    </div>
                    `
                }
            } catch (error) {
                document.body.innerHTML = `
                <div>
                    <h1>Google Login Failed</h1>
                    <p>Something went wrong. Please try again.</p>
                    <p>Error: ${error.message}</p>
                </div>
                `
            }
        }
    )()
</script>

</html>